html, body {
    background: #000000;
    background: -webkit-linear-gradient(#06061d, #000316);
    background:    -moz-linear-gradient(#06061d, #000316);
    background:         linear-gradient(#06061d, #000316);    
  }
 